#Python Basics

01. List

In [16]:
list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
x = input()
list.append(int(x))
print(list)

 11

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [18]:
list.insert(1, 12)
list

[1, 12, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [20]:
list.remove(12)
list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [26]:
list.pop()
list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [28]:
list.index(10)

9

In [30]:
list.reverse()
list

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

02. Pandas

In [38]:
import pandas as pd
#automatically prints indices too
x = pd.Series(index = range(5), data = [1, 3, 5, 7, 9])
x

0    1
1    3
2    5
3    7
4    9
dtype: int64

In [40]:
y = pd.Series(index =['a','b','c','d','d'], data=[1,3,9,11,12])
y

a     1
b     3
c     9
d    11
d    12
dtype: int64

In [42]:
y.d

d    11
d    12
dtype: int64

In [44]:
#Nd array
df = pd.DataFrame({'col1': [1,3,11,2], 'col2': [9,23,0,2]})
df.iloc[:2, :2]

   col1  col2
0     1     9
1     3    23

In [46]:
df['col1']

0     1
1     3
2    11
3     2
Name: col1, dtype: int64

#Practice

Ex 01.

In [58]:
given_range = int(input())
for i in range(given_range):
    if i % 2 == 0:
        print(i)

 10

0
2
4
6
8

Ex 02.

In [68]:
given_number = int(input())
count = len(str(given_number))
print(count)
#for i in str(given_number):
# count + =1

 10000

5

Ex 03.

In [124]:
given_string = input()
given_string[::-1]
#reverse_string = ""
#for i in given_string:
#reverse_string = i + reverse_string
#reversed

 hello

'olleh'

Ex 04.

In [116]:
for i in range(5, 0, -1):
    for j in range(5, 0, -1): #for j in range(1, i + 1)
        if i >= j:
            print(i, end='')
    print()

55555
4444
333
22
1