###1. Algorithm Basics

* Algorithm vs Data Structure
* Efficiency & Accuracy

###2. Python Basics

####2-1. Operator

>Arithmetic : PEMDAS -
parentheses ()
exponents **
multiplication *
division /
addition +
subtraction -

In [ ]:
x = 1
y = 2
print(x + y) #Addition: adds two operands
print(x - y) #Subtraction: subtracts two operands
print(x * y) #Multiplication: multiplies two operands
print(x / y) #Division (float): divides the first operand by the second
x = 3
print(x // y) #Division (floor): divides the first operand by the second
x = 2
print(x % y)  #Modulus: returns the remainder when the first operand is divided by the second
print(x ** y) #Power (Exponent): Returns first raised to power second

>Logical

In [ ]:
x = 1
y = 3
print(x < y)
print(x > y)
print(x == y)
print(x != y)
print(x <= y)
print(x >= y)

>Boolean

In [ ]:
x = 1
y = 2
print(x < y or x > y)
print(x < y and x > y)
print(not x < y)

####2-2. Format

>Output

In [ ]:
print("%x" %15)

In [ ]:
print("{:0.5f}".format(3.2 + 2.1))
print("{0:!<7}".format("Hi"))

In [ ]:
s = f"There are {5} {'apple'}s."
print(s)

In [ ]:
print(1, 2, 3, 4, sep='&')
print("Hello", end='?')

>Input

In [ ]:
age = int(input("Enter your age: "))
print(f"You are {age} years old.")

In [ ]:
numbers = input("Enter numbers separated by spaces: ").split()
print(f"You entered: {numbers}")

>Files

In [ ]:
with open('test.txt', 'r') as f1:
  text = f1.read()

print(text)

In [ ]:
f2 = open('myfile.txt', 'w')

L = ["This is the first line.\nThis is the second line.\nThis is the third line.\n"]
f2.write("Header\n")
f2.writelines(L)

In [ ]:
try:
  f3 = open('nofile.txt')
  for line in f3:
    print(line)
  f3.close()
except:
  print('something is wrong')

####2-3. Data Type

>String

In [ ]:
s = "life is great"
print(s.count('e'))
print(s.index('e')) #first same letter

print(s.find('e'))
print(s.find('e', 4))     #find starts from number
print(s.find('e', 4, 7))  #and steps from second number

In [ ]:
s = "goodnight"
print(s.capitalize())
print(s.upper()) #.lower()
print(s)

In [ ]:
print(",".join("ABCD"))
print(" ABCDE ".strip()) #.lstrip() #.rstrip()

In [ ]:
s = "This is left."
s.replace("left", "right")
print(s)

In [ ]:
s = "I think it is there."
s.split() #split a string to a list

In [ ]:
#ord(c)
print(ord('A'))

>List

In [ ]:
s = [1, 2, 3, 4]
print(s[0])
print(s[-1])

In [ ]:
a = [1, 2, 3]
b = [4, 5, 6]
c = a + b
print(c)

In [ ]:
b = [1, 2, 2, 2, 5]
b[2:4] = [3, 4] #use slicing to change several elements at once
print(b)

In [ ]:
st = "Sejong"
list(st)

In [ ]:
s = list()
print(s)
s.append(1)
print(s)
print(len(s))

In [ ]:
s.insert(1, 2) #s[1] = 2
print(s)
s.extend([3, 4, 5])
print(s)

In [ ]:
s = [1, 2, 3, 4, 5, 6]
s.remove(2)
print(s)

In [ ]:
s = [1, 2, 3, 4, 5, 6]
del s[1]
print(s)

In [ ]:
s = [1, 2, 3, 4, 5, 6]
print(s.pop()) #pop out last element (stack)
print(s)

In [ ]:
s = [1, 2, 3, 4, 5, 6]
s.clear()
print(s)

In [ ]:
s = [1, 3, 4, 6, 5, 2]
s.sort()
print(s)

In [ ]:
s = [1, 3, 4, 6, 5, 2]
s.reverse() #does not sort, just reverse
print(s)

In [ ]:
s = [1, 3, 6, 9, 3, 7, 10]
s.count(3)

In [ ]:
s[-2:2:-2] #include 7~ #~not include s[2] #reverse step

In [ ]:
12 not in [1, 2, 3]

>Set

In [ ]:
a = set([1, 2, 3, 4, 5, 6])
b = set([4, 5, 6, 7, 8, 9])
print(a & b)
print(a.intersection(b))

>Dictionary

In [ ]:
#{Key1: Value1, Key2: Value2, Key3: Value3, ...}
dic = {'name': 'pey', 'month': 11, 'room': [101, 102, 103]}

In [ ]:
list(dic.keys())

In [ ]:
list(dic.values())

In [ ]:
dic.items() #returns dict_items object and uses tuple
dic.get("dog") #if no key returns None

In [ ]:
del dic['room'] #delete using key
dic

>Tuple

In [ ]:
#tuple can be used in function to return multiple values
def func():
    name = "kim"
    year = 2024
    return name, year #tuple

a, b = func() #assign returned tuple
print(a)
print(b)

In [ ]:
t = [(0, 1), (2, 3)]
for (a, b) in t:
  print(a + b)

####2-4. Function

>Statements

In [ ]:
x = 2
if x == 2:
  pass #do nothing
else:
  print("wrong number")

In [ ]:
j = 1
while j <= 5:
  print(j)
  j += 1
else:         #execute after while loop finished
  print("value reached: %d" %j)

>Built-in Function

In [ ]:
t = ['a', 'b', 'c', 'd', 'e']
for i, j in enumerate(t):             #generates a tuple with index and value
  print(f"value at index {i} is {j}") #string format

In [ ]:
n = ['Paul', 'Charles', 'Minji']
a = [25, 30, 29]

p = zip(n, a)   #to combine iterables into a single iterable, returns tuple

for i, j in p:
  print(f"{i} is {j} years old")

In [ ]:
numlist = [1, 2, 3, 4, 5]
for i in reversed(numlist):
  print(i)

In [ ]:
#sorted(iterable, ..., key=None, reverse=False)
s = [1, 9, 7, 3, 5]
s = sorted(s, reverse=True) #.sort() can be used only in list, also does not return value
s

In [ ]:
s = 2
e = 10
for i in range(s, e, 2): #range(start, end, step)
  print(i)

In [ ]:
# filter(function, iterable)
def is_even(num):
  return num % 2 == 0

numlist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(numlist)

print(list(filter(is_even, numlist)))
for n in filter(is_even, numlist):
  print(n)

In [ ]:
print(all([True, False, True])) #all(iterable)
print(any([True, False, True]))

In [ ]:
print(max([1, 2, 3])) #max(iterable, ...)
print(min([1, 2, 3]))

In [ ]:
#pow(base, exp, ...)
print(pow(2, 4))

In [ ]:
#map(function, iterable)
def two_times(x):
  return x*2

list(map(two_times, [1, 2, 3, 4]))

>Lamda Function

In [ ]:
y = lambda x : x // 2
print(y(13))
print((lambda x , y : x + y)(10, 20))

In [ ]:
#with filter() function
list(filter(lambda x: x % 2 == 0, [1, 2, 3, 4])) #cascade functions

In [ ]:
#with map() function
list(map(lambda x: x**2, [1, 2, 3, 4]))

In [ ]:
#using lambda to create factorial without recursion
def factorial(n, f = lambda x : x): #f is default value argument
  k = 1
  for i in range(f(n)):
    k = k * (i + 1)
  return k

factorial(5)

>Arguments

In [ ]:
#default argument value designation
def func2(arg1, arg2 = "apple"):
  print("I like %s and %s." %(arg1, arg2))

func2("pizza")
func2("pizza", "banana")

# SyntaxError: non-default argument follows default argument
# def func3(arg1 = "apple", arg2):
#   print("I like %s and %s." %(arg1, arg2))

In [ ]:
#multiple arguments
def func3(*args):
  print(args[0]) #among arguments, print the first one using index

func3("arg1", "arg2", "arg3")

In [ ]:
#multiple keyword arguments
def func4(**kwargs):
  print(kwargs)

func4(Lee = 201) #sending arguments with Key = Value syntax
func4(Kim = 301, Park = 101)

####2-5. Module

>Math

In [ ]:
import math
print(math.ceil(2.3))
print(math.floor(2.3))

In [ ]:
print(math.gcd(4, 12)) #the greatest common divisor
print(math.lcm(4, 12)) #the least common multiple

In [ ]:
#the product of all the elements in the input iterable. default start value for the product is 1.
print(math.prod([1, 2, 3, 4]))

In [ ]:
print(math.log2(8))
print(math.log10(10))

In [ ]:
print(math.pi)
print(math.e)

In [ ]:
from math import pi as p
print(p)

>Numpy

In [ ]:
import numpy as np

In [ ]:
np.arange(0, 1, .2)

In [ ]:
np.linspace(0, 1, 11)

>Networkx

In [ ]:
'''Graph'''
#simple way to define a graph using dictionary
graph = {
    '5' : ['3', '7'],
    '3' : ['2', '4'],
    '7' : ['8']
}
import networkx as nx
#Package for the creation, manipulation, and study of the structure, dynamics, and functions of complex networks.

In [ ]:
class GraphVisualization: #creating graph visualization class, using nx
  def __init__(self):
    self.visual = [] #empty list
  def addEdge(self, a, b):
    temp = [a, b]
    self.visual.append(temp) #describe edge in list format
  def visualize(self):
    G = nx.Graph() #Create an empty graph with no nodes and no edges.
    G.add_edges_from(self.visual) #add edge
    nx.draw_networkx(G) #visualize Graph
    plt.show()

In [ ]:
#indirective graph
G1 = GraphVisualization() #create class object
G1.addEdge('u', 'v')
G1.addEdge('v', 'w')
G1.addEdge('w', 'u')
G1.visualize()

In [ ]:
#weighted graph
G2 = nx.Graph()
i = 1
G2.add_node(i, pos=(i, i)) #add node
G2.add_node(2, pos=(2, 1))
G2.add_node(3, pos=(1, 0))

G2.add_edge(1, 2, weight=5) #add edge with weights
G2.add_edge(1, 3, weight=4)
G2.add_edge(2, 3, weight=3)

In [ ]:
pos = nx.get_node_attributes(G2, 'pos')
nx.draw(G2, pos) #draw nodes

labels = nx.get_edge_attributes(G2, 'weight')
nx.draw_networkx_edge_labels(G2, pos, edge_labels=labels) #draw labels (weights)

In [ ]:
nx.is_connected(G2) #checks for whether graph is connected

In [ ]:
#directive graph
G3 = nx.DiGraph() #create directive graph
G3.add_edges_from([('u', 'u'), ('u', 'v'), ('v', 'w'), ('w', 'u')]) #loop is formed in u to u
nx.draw_networkx(G3)

In [ ]:
#shortest path
G4 = nx.DiGraph()
G4.add_edges_from([('a', 'b'), ('b', 'd'), ('b', 'f'),
 ('b', 'g'), ('b', 'c'), ('c', 'g'),
  ('g', 'e'), ('d', 'f'), ('d', 'h'), ('g', 'h')])
nx.draw_networkx(G4)

In [ ]:
nx.dijkstra_path(G4, 'a', 'h') #shortest path (start, end)

In [ ]:
pos = nx.spring_layout(G5)
nx.draw_networkx(G5, pos, with_labels=True, connectionstyle='arc3, rad=0.2')
#connectionstyle: arc form, rad curvature

In [ ]:
'''Tree'''
from networkx.drawing.nx_pydot import graphviz_layout #Create node positions using Pydot and Graphviz.
T1 = nx.Graph()
T1.add_edges_from([(1, 2), (1, 3), (1, 4), (2, 5), (2, 6), (3, 7), (4, 8)])

pos = graphviz_layout(T1, prog='dot') #node positions
nx.draw(T1, pos, with_labels=True)

In [ ]:
nx.is_tree(T1) #check whether graph is tree

####2-6. Class

>Class

In [ ]:
#a basic class for a bank account
class BankAccount:
 def __init__(self, account_number, balance): #class constructor
  self.account_number = account_number
  self.balance = balance

 def deposit(self, amount): #class method
  self.balance += amount
  print("Deposit successful. New balance is:", self.balance)

 def withdraw(self, amount):
  if amount > self.balance: #withdrawal condition
   print("Withdrawal unsuccessful insufficient funds!")
  else:
   self.balance -= amount
   print("Withdrawal successful. New balance is:", self.balance)

In [ ]:
account1 = BankAccount("woori1234", 100000)
print(account1.account_number)
print(account1.balance)

>Inheritance

In [ ]:
# define a superclass
class super_class:
  pass # attributes and method definition

# inheritance
class sub_class(super_class):
  pass
  # attributes and method of super_class
  # attributes and method of sub_class

####2-7. Library

>Pandas

In [ ]:
data = {'Name' : ['Lee', 'Park', 'Choi'],
        'Age' : [21, 22, 21],
        'City' : ['Seoul', 'Busan', 'Incheon']}

In [ ]:
df1 = pd.DataFrame(data)
display(df1)

In [ ]:
df2 = pd.Series([1, 2, 3, 4, 8])
display(df2)

In [ ]:
df1 = pd.read_csv('Testdata.csv')
print(df1.head()) #show top 5 rows
print(df1.tail()) #show bottom 5 rows

In [ ]:
df1.info() #show info: index, dtype, columns, non-null values, memory usage.
df1.describe() #method(): summary statistics for numerical columns

In [ ]:
df1.shape #return a tuple representing the dimensionality of DataFrame
df1_tmp = df1.drop_duplicates() #return DataFrame with duplicate rows removed

In [ ]:
#drop null values: remove missing values. NaN: not a number.
df1 = df1.dropna()

In [ ]:
#check for null values: detect missing values.
df1.isnull()
#if there is no null values in each column, sum of null values is 0, in each column
df1.isnull().sum()

In [ ]:
df1.columns #attribute: show column labels of DataFrame

In [ ]:
df2 = pd.read_json('iris.json')
pet_lens = df2['petalLength'] #extracting data, in specific column
pet_lens_w = df2[['petalLength', 'petalWidth']] #extracting data, in multiple specific columns

In [ ]:
#filter: subset the dataframe rows according to the specified index labels. (specific column, specific value)
pet_len = df2[df2['petalLength'] == 1.4]

In [ ]:
#integer-location based indexing for selection by position (row 0,1,2,3, col 1,2,3 slice)
df2_subset = df2.iloc[0:4, 1:4]

In [ ]:
sorted_df = df2.sort_values('petalLength') #sort by the values along specific column
#group by (column), mean of [column]: compute mean of each groups, excluding missing values.
grouped_df = df2.groupby('species')['petalLength'].mean()

In [ ]:
#apply() a function along an axis of the DataFrame
df2['petalWidth'] = df2['petalWidth'].apply(lambda x: x+1) #increase values of specific column using lambda function

In [ ]:
#Fill Null/NaN values using the specified method: null values in column[petalLength] will be filled with 0, instead of nan
df2['petalLength'] = df2['petalLength'].fillna(0)

In [ ]:
#replace values given in to_replace, with value
df2['species'] = df2['species'].replace('setosa', 'st')

In [ ]:
#concatenate pandas objects along a particular axis
new_row = {'sepalLength' : 8.1}
#other columns values will be NaN
df2 = pd.concat([df2, pd.DataFrame([new_row])], ignore_index = True)
#ignore_index: If True, do not use the index values along the concatenation axis. The resulting axis will be just labeled 0, ..., n - 1.

In [ ]:
target_column = 'petalLength'
#get_loc (get integer location) in columns
target_column_index = df2.columns.get_loc(target_column)
print(target_column_index)

new_column_name = 'Quality'
#tolist() returns a list of the values, in this case columns list
cols = df2.columns.tolist()
#insert column name into DataFrame (columns list) at specified location.
cols.insert(target_column_index + 1, new_column_name)

#form DataFrame in new index with optional filling logic; columns = new labels for the columns.
df2 = df2.reindex(columns = cols)

#add values to newly added column 'Quality' using apply() with lambda function
df2['Quality'] = df2['petalLength'].apply(lambda x: 'High' if x >= 5 else 'Basic') #condition regarding 'petalLength' value

>Scipy

In [ ]:
[1, 0, 2, 0, 0, 3, 0] #sparse data example
#sparse data: most of item values are zero <> dense data: most of item values are non-zero
from scipy.sparse import csr_matrix #Compressed Sparse Row matrix
arr = np.array([0, 0, 0, 0, 0, 1, 1, 0, 2])

In [ ]:
print(csr_matrix(arr)) #location of non-values (row, col)
print(csr_matrix(arr).data) #non-zero data values
print(csr_matrix(arr).count_nonzero()) #number of non zero values

In [ ]:
mat.eliminate_zeros() #removes zero values

In [ ]:
from scipy.sparse.csgraph import connected_components #Analyze the connected components of a sparse graph

In [ ]:
adjacency_matrix = csr_matrix([[0, 1, 0, 0], [1, 0, 1, 0], [0, 1, 0, 0], [0, 0, 0, 0]])
'''
Node 0 is connected to node 1.
Node 1 is connected to nodes 0 and 2.
Node 2 is connected to node 1.
Node 3 is isolated (not connected to any other node).
'''
num_components, labels = connected_components(adjacency_matrix)

In [ ]:
print("Number of connected components:", num_components)
print("Labels of components for each node:", labels)

#Nodes 0, 1, and 2 are part of the same connected component (labeled 0).
#Node 3 is part of a different connected component (labeled 1).

In [ ]:
for component in range(num_components):
  component_nodes = [node for node, label in enumerate(labels) if label == component] #creates a list per label
  print('Connected component', component_nodes)
#node 3 is not connected with 0, 1, 2

>Matplotlib

In [ ]:
import matplotlib.pyplot as plt
x = np.linspace(-5, 5, 100)
y = np.sin(x)
plt.xlabel('x')
plt.ylabel('y')
plt.title('Sine(x)')

plt.plot(x, y)
plt.show()

In [ ]:
fig, (ax1, ax2) = plt.subplots(1, 2, figsize=(10, 5)) #Create a figure and a set of subplots. (nrows, ncols, )

ax1.plot(x, y, color='blue', label='Sine(x)')
ax1.set_xlabel('x')
ax1.set_ylabel('y')
ax1.set_title('Sine(x)')

ax2.plot(x, z, color='red', label='Cosine(x)')
ax2.set_xlabel('x')
ax2.set_ylabel('z')
ax2.set_title('Cosine(x)')

plt.tight_layout() #Adjust the padding between and around subplots.

In [ ]:
df = pd.read_csv('students.csv')
print(df.head())

#create bar chart style plot from pandas dataframe
plt.bar(df['name'], df['physics'], label='Physics score')
plt.bar(df['name'], df['maths'], label='Maths score')

plt.xlabel('Student Name')
plt.ylabel('Physics and Maths')
plt.title('Physics vs. Maths')

plt.legend()

In [ ]:
#table (formatting & coloring) using matplotlib
fig, ax = plt.subplots()
ax.axis('off')
table = ax.table(cellText= data, cellLoc= 'center', loc= 'center', cellColours= [['lightgray']*3]+[['white']*3]*3, bbox= [0,0,1,1])
#bbox /0, 0 the lower-left corner /1, 1 the upper-right corner of the axes : table fill the entire area of the axes

table.auto_set_font_size(False)
table.set_fontsize(12)
table.scale(1, 1.5)

In [ ]:
#scatter plot
x1 = [2, 3, 4]
y1 = [5, 5, 5]

x2 = [1, 2, 3, 4, 5]
y2 = [2, 3, 2, 3, 4]
y3 = [6, 8, 7, 8, 7]

plt.scatter(x1, y1)
plt.scatter(x2, y2, marker= 'v', color= 'red')
plt.scatter(x2, y3, marker= '^', color= 'm')

In [ ]:
#3d bar plot
fig = plt.figure()

ax = fig.add_subplot(111, projection = '3d') #Create 3d plot space

x = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
y = np.random.randint(10, size= 10)
z = np.zeros(10)

dx = np.ones(10)
dy = np.ones(10)
dz = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

ax.bar3d(x, y, z, dx, dy, dz, color= 'g') #Create 3d bar plot

plt.tight_layout()